body{
  background-color:#ECEEF1;

}
#navbar{
  height: 70px;
}
.signin, .signin-button{
  float: right;
  margin-top: 10px;
}
.signin-button button{
  background-color: #0077C5;
  border: 1px solid black;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 35px;
}
.signin{
  margin-right: 10px;
}
.signin p{
  margin: 0;
  padding: 0;
}
.signin p a{
  color: #0077C5;
  cursor: pointer;
  text-decoration: none;
}
#form-section {
  width: 100%;
}

.signup-form {
  background-color: white;
  border: 1px solid gray;
  margin: 5px auto;
  width: 30%;
}

.signup-form-header {
  padding: 20px 0 0 0;
  text-align: center;
}

h2 {
  font-weight: lighter;
  margin: 0;
}

.signup-form-header p {
  font-size: 14px;
  padding: 0 50px;
}

form a {
  color: #0077C5;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

fieldset {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 80%;
}

#account-details {
  margin-bottom: 20px;
  margin-top: 25px;
}

#account-details p {
  font-size: 14px;
  margin: 0 auto;
  padding: 0;
}

#email {
  margin-bottom: 28px;
}

#tel {
  margin-bottom: 5px;
}

label {
  padding-bottom: 10px;
}

input, label {
  box-sizing: border-box;
  display: block;
  width: 100%;
}

input {
  border: 1px solid gray;
  border-radius: 1px;
  padding: 5px;

}

#submit {
  background-color: #0077C5;
  border: 0;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  padding: 12px;
}

.more-info {
  font-size: 11px;
  padding: 30px 10px;
  text-align: center;
}

.more-info p {
  color: gray;
  margin: 3px 0;
}

.signup-form-footer {
  background-color: #ECEEF1;
  color: gray;
  font-size: 10px;
  padding: 15px;
  text-align: center;
}
.footer-container{
  text-align: center;
}

.footer-container p{
  color: grey;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 2px;
}

footer a{
  color: grey;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}

footer{
  margin: 30px 0;
}

.logo, .icons{
  margin: 0 auto;
  width: 30%;
}

.logo img{
  display: block;
  height: 35px;
  margin: 0 auto;
  width: 32%;
}

.icons img{
  height: 25px;
  width: 25px;
}

.icons{
  margin-top: 5px;
}

.icons a{
  color: grey;
  font-size: 20px;
  margin-top: 0;
  text-decoration: none;
  vertical-align: middle;
}

.icons img{
  vertical-align: middle;
}
.icons p{
  line-height: 50px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.icon-mint{
  padding-right: 10px;
}
.icon-tick{
  padding-left: 10px;
}

.icons img{
  margin-right: 5px;
}
